{% extends "layout.html" %}
{% block body %}
  <form action="" method=post class="form-horizontal">
    <h2>Create Debater</h2>
    <div class="control-group">
        <div class="controls">
          <input type="text" id="name" name="name" class="input-xlarge"
            placeholder="Nr: " value="{{ request.form.name }}"
            required>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
          <input type="text" id="area" name="area" class="input-xlarge"
            placeholder="Corp: " value="{{ request.form.area }}"
            required>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-success">Create Sala</button>
          <a href="{{ url_for('room.rooms') }}">Back</a>
        </div>
    </div>
  </form>
{% endblock %}