{% extends "layout.html" %}
{% block body %}

<h2>Round {{round_number}}</h2>

    <table class="table table-hover">

      <tr>
        <th>#
        <th>Sala
        <th>Guvern
        <th>Opozitie
        <th>Arbitru
        <th>Echipa castigatoare
        <th>
      {%- for game in games %}
      <tr class={{ "success"}}>
        <td><a>{{ game.id }}</a>
        <td >{{ game.room }}
        <td >{{ game.goverment.name }}
        {% if game.opposition %}
        <td >{{	game.opposition.name }}
        {% else %}
        <td > None
        {% endif %}
        <td >{{	game.judge }}
        <td>
        {% if game.has_not_decision %}
          <p>
              <a href="{{ url_for('tabmaster.decision', id=game.id) }}" class="btn btn-primary btn-small">Decizie</a>
          </p>
        {% else %}
          {{game.winner}}
        {% endif %}
        <td>
        {% if game.has_not_decision %}
          <p>
              <a href="{{ url_for('tabmaster.game_select_modify_judge', id=game.id) }}" onClick = "return confirm('Are you sure?')" class="btn btn-danger btn-small">Modifica Arbitru</a>
          </p>
        {% endif %}   
      {%- endfor %}
    </table>

{% endblock %}