{% extends "layout.html" %}
{% block body %}
  <form action="" method=post class="form-horizontal">
    <h2>Create tabmaster</h2>
    <div class="control-group">
        <div class="controls">
          <input type="text" id="name" name="name" class="input-xlarge"
            placeholder="Name " value="{{ request.form.name }}"
            required>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
          <input type="text" id="email" name="email" class="input-xlarge"
            placeholder="Email " value="{{ request.form.email }}"
            required>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-success">Create Tab Master</button>
          <a href="{{ url_for('admin.tabmasters') }}">Back</a>
        </div>
    </div>
  </form>
{% endblock %}
